body {
  background-color: #fce380;
}

h1 {
  color: olive;
  text-align: center;
}

a {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  color: peru;
}

img {
  display: block;
  margin: 0 auto;
}
